* {
    box-sizing: border-box;
}

body {
    background-color: #ccb69b;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #473144;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: black;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    color: #af1b3f;
}

.shopping_list {
    background-image: url('https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80');
    background-size: cover;
    border-radius: 25% 10%;
    padding: 3rem;
    max-width: 700px;
}

.shopping_heading {
    color: black;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
}

.single_recipe {
    display: grid;
    background-color:  #df9b6d;
    justify-content: space-between;
}

.recipe_heading {
    color: #473144;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1rem;
}

.recipes img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}