{% extends 'base.html' %}
{% block content %}
    <h1>Foods in your fridge:</h1>
    <form action="fridge/delete">
        <button>Remove all</button>
    </form>
    {% for item in fridge %}
        <form action="/fridge/{{ item['id'] }}" method="POST">
            <label for="">Item:</label>
            <input type="text" name="item_name" value="{{ item['item_name'] }}">

            <button>Update item</button>
        </form>
        <form action="fridge/{{ item['id'] }}/delete", method="POST">
            <button>X</button>
        </form>
    {% endfor %} 
{% endblock %}