{% extends 'base.html' %}

{% block content %}
<h1>Your Personal Shopping List</h1>
{% if current_user %}
    <h3>Welcome home, {{ current_user['name'] }}</h3>
    <form action="/sessions/delete" method="POST">
        <button>Log out</button>
    </form>

    <form action="/recipes/search">
        <input type="text" name="search_input">
        <button>Search Recipes</button>
    </form>

    <section class="shopping_list">
        <h2 class="shopping_heading">Shopping List</h2>
        <form action="/shopping_list/new" method="POST">
            <label for="">Item:</label>
            <input type="text" name="item_name">

            <button>Add item</button>
        </form>

        <section class="shopping_list_controls">
            <a class="edit_link" href="/shopping_list/update">Edit all</a>
            
            <form action="/shopping_list/delete" method="POST">
                <button>Remove all</button>
            </form>
        </section>

        {% for item in shopping_list %}
        <section class="list_of_shopping_items">
            <form class="delete_buttons" action="/shopping_list/{{ item['id'] }}/delete" method="POST">
                <button class="btn btn-outline-danger">X</button>
            </form>
            <p class="shopping_list_item">{{ item['item_name'] }}</p>
        </section>
        {% endfor %}      
    </section>

    <section class="fridge">
        <h2>In my Fridge</h2>
        <form action="/fridge/new" method="POST">
            <label for="">Item:</label>
            <input type="text" name="item_name">

            <button>Add item</button>
        </form>

        <a class="edit_link" href="/fridge/update">View and edit all</a>       
    </section>
{% else %}
<section class="login_controls">
    <button class="btn btn-danger">
        <a href="/users/new">Sign Up</a>
    </button>
    <button class="btn btn-warning">
        <a href="/sessions/new">Log In</a>
    </button>
</section>
{% endif %}
{% endblock %}